<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/echarts/echarts.min.js"></script>
    <script src="../../static/vue/vue.js"></script>
</head>
<body>
<style>
    #airTemperature {
        border: 1px solid deepskyblue;
        width: 300px;
        height: 300px;

    }
</style>
<div id="app">
    <div id="airTemperature"></div>
</div>
</body>
<script>
        new Vue({
        el: '#root',
        data: {
        airTemperature: {
        tooltip: {
        trigger: 'item',
        confine: true ,
                },
                legend: {
                    bottom: 'center',
                    right: '0',
                    orient: 'vertical',
                    padding: 0,
                    itemWidth: 7,
                    itemHeight: 7,
                    borderRadius: '50%',
                    textStyle: {
                        fontSize: 12
                    },
                },
                series: [
                    {
                        left: -50,
                        name: 'Access From',
                        type: 'pie',
                        radius: ['20%', '40%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: true,
                            position: 'outside',
                            fontSize: 12,
                            overflow:'truncate',
                            ellipsis: '...' ,
                            bleedMargin:0,
                            distanceToLabelLine:0
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 40,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: true,
                            length: 0,
                            smooth:1
                        },
                        labelLayout: {
                            draggable: true
                        },
                        data: [
                            {value: 1048, name: '视频监控'},
                            {value: 735, name: '风速仪'},
                            {value: 580, name: '风向仪'},
                            {value: 484, name: '温度传感器'}
                        ]
                    }
                ]
            }
        },
        methods: {
            //空气温度
            bindAirTemperature() {
                debugger
                var chartDom = document.getElementById('airTemperature');
                var myChart = echarts.init(chartDom);
                let sdf = this.airTemperature;
                myChart.setOption(sdf);
                // this.setReportSize();
            },
            add() {
                console.log('add')
                this.n++
            },
            bye() {
                console.log('bye')
                this.$destroy()
            }
        },
        watch: {
            n() {
                console.log('n变了')
            }
        },
        beforeCreate() {
            console.log('beforeCreate')
        },
        created() {
            console.log('created')
        },
        beforeMount() {
            console.log('beforeMount')
        },
        mounted() {
            console.log('mounted')
            this.bindAirTemperature();
        },
        beforeUpdate() {
            console.log('beforeUpdate')
        },
        updated() {
            console.log('updated')
        },
        beforeDestroy() {
            console.log('beforeDestroy')
        },
        destroyed() {
            console.log('destroyed')
        },
    });
</script>
</html>