<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            display: inline-block;
            width: 200px;
            height: 200px;
        }
        #box1{
            background-color: rgba(91, 143, 249);
        }
        #box1{
            background-color: rgba(245, 154, 35);
        }
        #box1{
            background-color: rgba(217, 0, 27);
        }
    </style>
</head>
<body>
<div id="box1"></div>
<div id="box2"></div>
<div id="box3"></div>
</body>
</html>